.t-top .t-sub-menu-top1 .nav-item .dropdown-item,
.t-top .t-sub-menu-top1 .nav-item .nav-link .t-text-menu {
    font-size: 12px;
}

.logo-tablet {
    display: block;
}

.logo {
    display: none;
}

.t-top .btn-taosukien {
    display: none;
}

.t-report-slide .owl-nav {
    display: none;
}

.t-bottom .t-tag-line {
    font-size: 16px;
}

.t-home-card-tintucnho .card-title {
    font-size: 14px;
}

.icon-chevron-right {
    display: none;
}

.t-home-sukiensogiupgi .title {
    font-size: 20px;
}

.t-card-rate-event .t-avg-rate {
    font-size: 60px;
}

.card-share-event .list-group-item {
    padding: 0;
}

.small-slide .owl-dots {
    display: none;
}

.main-slide .owl-dots {
    display: none;
}

.cover-small-slide {
    bottom: -30%;
}

.t-home-bao-tabs-sukien {
    padding-top: 130px;
}

.card-tinlienquan-chitiettin,
.t-card-category,
.card-extend-post,
.t-home-card-tintucnho,
.t-home-card-tintucto {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.t-fix-top {
    position: inherit;
}