.t-report-slide .owl-nav {
    display: none;
}

.t-gioithieu2 .title {
    font-size: 25px;
}

.t-bottom .t-tag-line {
    font-size: 16px;
}

.t-home-card-tintucnho .card-title {
    font-size: 14px;
}

.icon-chevron-right {
    display: none;
}

.t-home-sukiensogiupgi .title {
    font-size: 20px;
}

.t-home-doitac .title span,
.t-home-tintuc .title span {
    font-size: 28px;
}

.t-card-rate-event .fa-star {
    font-size: 13px;
}

.t-card-rate-event .t-avg-rate {
    font-size: 60px;
}

.t-contact .main-title {
    font-size: 20px;
    padding-top: 20px;
}

.small-slide .owl-dots {
    display: none;
}

.main-slide .owl-dots {
    display: none;
}

.cover-small-slide {
    bottom: -40%;
}

.t-home-bao-tabs-sukien {
    padding-top: 100px;
}

.t-dashbroard .dataTables_wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.card-tinlienquan-chitiettin,
.t-card-category,
.card-extend-post,
.t-home-card-tintucnho,
.t-home-card-tintucto {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.t-fix-top {
    position: inherit;
}