.t-dashboard {
    font-family: Roboto, sans-serif;
}

.t-dashboard .t-navbar-dasbroard {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.t-dashboard .t-navbar-dasbroard .nav-link {
    font-size: 16px;
    font-weight: 600;
}

.t-dashboard .t-navbar-dasbroard .nav-link:hover {
    color: #F58120;
}

.t-dashboard .t-navbar-dasbroard .nav-item.active .nav-link {
    color: #ffffff;
}

.t-dashboard .paginate_button {
    display: inline-block;
    font-weight: 400;
    color: #F58120;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.t-dashboard .paginate_button.current {
    color: #fff;
    background-color: #F58120;
    border-color: #F58120;
}

.t-dashboard .paginate_button.disabled {
    pointer-events: none;
    opacity: .65;
}

.t-dashboard .paginate_button:hover {
    color: #ffffff;
    border-color: #F58120;
    background-color: #F58120;
}

.t-dashboard .paginate_button.next,
.t-dashboard .paginate_button.previous {
    color: #fff;
    background-color: #F58120;
    border-color: #F58120;
}