@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-transform: none !important;
    overflow-x: hidden !important;
    color: #000000 !important;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#toastr {
    z-index: 999;
}

.card-img {
    height: 100%;
}

.t-top .navbar {
    padding: 0.5rem 0rem;
}

.t-top .t-sub-menu-top1 .nav-item .dropdown-item,
.t-top .t-sub-menu-top1 .nav-item .nav-link .t-text-menu {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: bold !important;
    color: #000000;
    position: relative;
}

.t-sub-menu-top1 .dropdown-item:hover>.t-text-menu,
.t-sub-menu-top1 .nav-item:hover>.nav-link>.t-text-menu {
    color: #F58120;
    border-bottom: 2px solid #F58120;
}

.t-sub-menu-top1 .btn-dangnhap {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: initial;
    color: #000000;
}

.icon {
    background: url(/client/image/icon.png) no-repeat;
}

.icon-plus {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-position-x: -8px;
    background-position-y: -8px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-user {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-position-x: -35px;
    background-position-y: -8px;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.icon-calendar {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-position-x: -71px;
    background-position-y: -12px;
    vertical-align: middle;
}

.t-top .btn-taosukien {
    color: #F58120 !important;
    border-radius: 50px;
    border: 2px solid #F58120;
    padding: 10px;
}

.main-slide .owl-dots {
    position: absolute;
    bottom: 5px;
    right: 1%;
}

.cover-small-slide {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -130px;
}

.owl-dot span {
    width: 14px !important;
    height: 14px !important;
}

.small-slide .owl-dots {
    display: block;
}

.small-slide .owl-dot.active span {
    width: 30px !important;
    background-color: #F58120 !important;
    outline: none !important;
}

.small-slide img {
    border: 2px solid #ffff;
    border-top: 3px solid #ffff;
}

.t-home-nav-tabs-sukien .nav-link {
    color: #313131;
    padding: 0.5rem 0!important;
}

.t-home-nav-tabs-sukien .nav-link span {
    border-right: 2px solid #313131;
    padding: 0.1rem 1rem;
}

.t-home-nav-tabs-sukien .nav-item:last-child .nav-link span {
    border-right: none;
}

.t-home-nav-tabs-sukien .nav-link:focus-visible,
.t-home-nav-tabs-sukien .nav-link:focus,
.t-home-nav-tabs-sukien .nav-link:hover {
    border-color: #efefef !important;
    border-bottom: 3px solid #ff3600 !important;
}

.t-home-nav-tabs-sukien {
    border-bottom: none !important;
    margin-bottom: 50px;
}

.t-card-khoahoc img {
    width: 253px;
    height: 155px;
}

.t-card-khoahoc .card-body {
    padding: 15px !important;
}

.t-card-khoahoc .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #4b4b4b;
    text-align: center;
    min-height: 60px;
}

.t-card-khoahoc .card-title:hover {
    color: #f58120;
}

.t-card-khoahoc {
    color: #4b4b4b;
}

.bgr-efefef {
    background: #efefef;
}

.t-home-nav-tabs-sukien .nav-item.show .nav-link,
.t-home-nav-tabs-sukien .nav-link.active {
    border-color: #efefef !important;
    background-color: #efefef !important;
    border-bottom: 3px solid #ff3600 !important;
}

.t-card-khoahoc .border-right-calendar {
    border-right: 1px solid #000000;
}

.t-card-khoahoc .btn-chitietsukien {
    font-size: 14px;
    background-color: #F58120 !important;
    border: #F58120;
    display: block;
    text-transform: uppercase;
}

.t-card-khoahoc .btn-chitietsukien:hover {
    background-color: #ff3600 !important;
}

.icon-ticket {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-position-x: -145px;
    background-position-y: -9px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-place {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-position-x: -120px;
    background-position-y: -9px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-online {
    width: 71px;
    height: 21px;
    display: inline-block;
    background-position-x: -173px;
    background-position-y: -7px;
    vertical-align: middle
}

.icon-bell {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-position-x: -94px;
    background-position-y: -9px;
    vertical-align: middle;
}

.icon-taosukien {
    position: absolute;
    border-radius: 50%;
    left: -1px;
    bottom: -1px;
    background-color: #ff805e;
    width: 66px;
    height: 66px;
    display: inline-block;
    background-position-x: -288px;
    background-position-y: 16px;
    vertical-align: middle;
}

.icon-checked {
    width: 27px;
    height: 26px;
    display: inline-block;
    background-position-x: -255px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 5px;
}

.t-btn-taithemkhoahoc {
    padding: 10px 100px;
    border: 1px solid #8d8d8d;
    margin: 50px 0;
    color: #8d8d8d;
}

.t-btn-taithemkhoahoc:hover {
    color: #ffffff;
    background: #f58120;
}

.t-home-sukiensogiupgi {
    background: url(/client/image/bgr.png) no-repeat;
    background-size: cover;
}

.t-home-sukiensogiupgi .title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    padding: 50px 0;
}

.t-home-sukiensogiupgi p {
    color: #ffffff;
}

.t-btn-taosukien {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    background: #ff3600;
    padding: 20px 25px 20px 70px;
    border-radius: 50px;
    position: relative;
    margin: 35px 0px;
}

.t-btn-taosukien:hover {
    color: #ffffff;
    background: #ff805e;
    animation: loadbackground 0.75s;
}

@keyframes loadbackground {
    0% {
        background: #ff3600;
    }
    80% {
        background: #ff3600;
    }
    100% {
        background: #ff805e;
    }
}

.t-home-doitac .title span,
.t-home-tintuc .title span {
    text-transform: uppercase;
    font-weight: bold;
    color: #f1592a;
    border-bottom: 2px solid #f1592a;
}

.t-home-card-tintucto .card-title {
    font-size: 20px;
    color: #4267b1;
    font-weight: bold;
}

.t-home-card-tintucnho .card-title {
    font-size: 16px;
    color: #4267b1;
    font-weight: bold;
    margin-bottom: 0;
}

.t-home-card-tintucnho,
.t-home-card-tintucto {
    border: none;
    background: #efefef;
}

.t-home-card-tintucnho a:hover .card-title,
.t-home-card-tintucto a:hover .card-title {
    color: #f58120;
}

.t-home-card-tintucnho:hover,
.t-home-card-tintucto:hover {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.t-home-card-tintucto .card-body {
    padding: 15px 5px;
}

.t-home-card-tintucnho .card-body {
    padding: 10px;
}

.t-home-bao-tabs-sukien {
    padding-top: 190px;
}

.t-home-doitac {
    padding-bottom: 80px;
}

.t-bottom {
    background: url(/client/image/welcome-to-sea-event-banner.png) no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.t-bottom .t-tag-line {
    font-size: 18px;
    margin-top: 5px;
}

.t-bottom .t-line-bottom {
    position: absolute;
    width: 99px;
    height: 3px;
    background: #ff3600;
    left: 0px;
    bottom: -15px;
}

.icon-t-home {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -357px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-t-phone {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -405px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-www {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -450px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-t-facebook {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-position-x: -504px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-t-youtube {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-position-x: -568px;
    background-position-y: -4px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-t-zalo {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-position-x: -631px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-list-style {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-position-x: -741px;
    background-position-y: -14px;
    position: absolute;
    left: 0;
}

.icon-search {
    width: 20px;
    height: 18px;
    display: inline-block;
    background-position-x: -700px;
    background-position-y: -17px;
    vertical-align: middle;
}

.t-bottom a {
    color: #ffffff;
}

.t-top .btn-taosukien span {
    color: #f1592a !important;
}

.t-home-nav-tabs-sukien .nav-link {
    border: none;
}

.t-event-detail,
.t-gioithieu3,
.t-gioithieu2,
.t-gioithieu1 {
    font-family: 'Roboto', sans-serif !important;
}

.t-gioithieu1 .main-title {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.t-gioithieu1 {
    position: relative;
    background-color: #efefef;
}

.t-gioithieu1:before {
    background: url(/client/image/bgr-gioithieu1.png) repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.t-gioithieu1 p {
    padding-left: 1.8rem;
}

.t-gioithieu2 {
    color: #ffffff;
    background: url(/client/image/bgr-gioithieu2.png) no-repeat;
    background-size: cover;
}

.t-gioithieu2 .title {
    font-size: 30px;
    text-align: center;
}

.t-report-slide img {
    width: auto !important;
    margin: 0 auto;
}

.t-report-slide .t-customer-avatar {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    margin: 0 auto;
}

.t-report-slide .owl-nav {
    display: block;
}

.t-report-slide .owl-nav .owl-next:hover,
.t-report-slide .owl-nav .owl-prev:hover {
    background: none;
}

.t-report-slide .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    bottom: 50%;
    outline: none;
}

.t-report-slide .owl-nav .owl-next {
    position: absolute;
    right: 0;
    bottom: 50%;
    outline: none;
}

.icon-customer {
    width: 38px;
    height: 38px;
    display: inline-block;
    background-position-x: -784px;
    background-position-y: -15px;
    position: absolute;
    left: 0;
}

.icon-hand-phone {
    width: 96px;
    height: 90px;
    display: inline-block;
    background-position-x: -857px;
    background-position-y: -5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.t-gioithieu3 {
    background: #ffac63;
}

.t-gioithieu3 .container {
    padding-top: 45px;
    padding-bottom: 25px;
}

.t-gioithieu3 .title {
    padding-left: 100px;
    font-size: 24px;
    max-width: 340px;
}

.t-about-number-phone {
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 24px;
}

.btn-nhantuvan {
    color: #fff;
    background-color: #ff4e00;
    border-color: #ff4e00;
    border-radius: 25px;
    padding: 10px 50px;
}

.btn-nhantuvan:hover {
    color: #fff;
}

.t-event-detail .main-title {
    font-size: 30px;
}

@font-face {
    font-family: "Lato";
    src: url("/client/font/lato/Lato\ Regular.ttf"), url("/client/font/lato/Lato\ Medium.ttf"), url("/client/font/lato/Lato\ Light.ttf");
}

.btn-tuvan {
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: #f58120;
    border-color: #f58120;
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    border-radius: inherit;
}

.btn-tuvan:hover {
    color: #fff;
}

.icon-face {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position-x: -51px;
    background-position-y: -54px;
    vertical-align: middle;
}

.icon-quan-tam {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position-x: -7px;
    background-position-y: -41px;
    vertical-align: middle;
}

.btn-chia-se {
    font-size: 12px;
    color: #000000;
}

.btn-quan-tam {
    font-size: 12px;
    color: #F58120;
}

.btn-quan-tam:hover {
    color: #F58120;
}

.t-so-quantam {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 10px;
}

.tab-thongtin-sukien .nav-link.active {
    background: #f58120;
}

.tab-thongtin-sukien .nav-link {
    border-radius: 0 !important;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #000000;
}

.tab-thongtin-sukien .nav-link:hover .tab-thongtin-sukien .nav-link.active {
    background: #ffffff;
}

.tab-thongtin-sukien .nav-link:hover {
    background: #f58120;
    color: #ffffff;
}

.t-chitiet-sukien .card-header p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.t-chitiet-sukien .card-body {
    font-family: "Lato", sans-serif;
}

.t-sukienlienquan .title {
    font-size: 23px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.icon-calendar-color {
    width: 38px;
    height: 38px;
    display: inline-block;
    background-position-x: -98px;
    background-position-y: -41px;
    vertical-align: middle;
    margin-right: 15px;
}

.bgr-register {
    background: url(/client/image/bgr-login-register.png) no-repeat;
    background-size: cover;
}

.t-register {
    height: 100vh;
    width: 100vw;
}

.t-form-dangky .card-title {
    font-size: 18px;
}

.t-form-dangky .card {
    border-radius: 15px !important;
}

.t-register>.row,
.t-register .container {
    width: 100%;
    height: 100%;
}

.t-form-dangky .card-header {
    background: url(/client/image/bgr-heder-form-register.png) no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.t-form-register .t-input-register {
    padding-left: 35px;
    border-radius: 35px;
}

.icon-name {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -145px;
    background-position-y: -47px;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top: 8px;
}

.icon-mail {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -170px;
    background-position-y: -47px;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top: 8px;
}

.icon-register-phone {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -198px;
    background-position-y: -47px;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top: 8px;
}

.icon-pass {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -224px;
    background-position-y: -47px;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top: 8px;
}

.icon-repass {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -249px;
    background-position-y: -47px;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top: 8px;
}

.btn-register {
    color: #fff;
    background-color: #f58120;
    border-color: #f58120;
    padding: 15px 60px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-register:hover {
    color: #fff;
}

.t-card-rate-event .t-avg-rate {
    font-size: 90px;
    font-weight: 900;
}

.t-card-rate-event .fa-star {
    color: #f58120;
    font-size: 20px;
}

.t-card-rate-event .progress {
    height: 20px;
}

.t-card-rate-event .progress-bar {
    background: #5cb85c;
}

.breadcrumb {
    background: #fff !important;
    padding-left: 0;
    margin-bottom: 0;
}

.t-category .t-bao-title {
    margin: 10px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 1px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 15px;
    color: #707070;
}


/* .breadcrumb-item+.breadcrumb-item::before {
    content: ">" !important;
} */

.t-card-category .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.t-card-category .card-title:hover {
    color: #f58120;
}

.t-card-category .card-body {
    padding: 10px 15px;
}

.t-card-category .card-text {
    font-size: 14px;
    margin-bottom: 0;
}

.t-card-category .card-text .detail {
    color: #f1592a;
}

.t-card-category .card-img {
    height: 100%;
}

.t-category-extend .t-bao-title-extend {
    border-bottom: 1px solid #f1592a;
    padding-top: 15px;
}

.t-category-extend .t-bao-title-extend .t-head-title-extend {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background: #f1592a;
    padding: 10px;
}

figure:hover img {
    -webkit-animation: circle 3s;
    animation: circle 3s;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes circle {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

figure {
    overflow: hidden;
    position: relative;
    margin: 0;
}

.card figure {
    height: 100%;
}

.t-category-extend .t-head-btn-extend {
    color: #000000;
}

.t-category-extend .t-head-btn-extend:hover {
    color: #f58120;
}

.t-card-category,
.card-extend-post {
    background: #efefef;
    border: none;
}

.t-card-category:hover,
.card-extend-post:hover {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.card-extend-post:hover .card-body {
    border-left: 1px solid rgba(0, 0, 0, .125);
}

.card-extend-post img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.card-extend-post .card-title {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 0px;
}

.t-list-event-extend li a {
    color: #000000;
    font-weight: 400;
}

.t-list-event-extend .list-group-item:hover a {
    font-weight: 700;
}

.t-list-event-extend .list-group-item:hover .t-fa-angle-double-right {
    color: #f58120;
}

.t-post-detail .main-title {
    font-size: 25px;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}

.t-post-detail .btn-like {
    font-size: 12px;
    padding: 1px 10px;
}

.icon-like {
    width: 21px;
    height: 15px;
    display: inline-block;
    background-position-x: -310px;
    background-position-y: -53px;
    vertical-align: middle;
}

.icon-flag {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position-x: -278px;
    background-position-y: -46px;
    vertical-align: middle;
}

.t-post-detail .fa-envelope {
    width: 30px;
    height: 25px;
}

.t-post-detail .fa-envelope:before {
    display: flex;
    justify-content: center;
}

.t-post-detail .t-title-comment {
    font-size: 22.22px;
}

.t-post-detail .t-title-sent-comment {
    font-size: 18px;
    font-weight: 600;
}

.t-post-detail .t-card-reply-comment .t-textarea-comment::placeholder {
    font-size: 12px;
}

.t-post-detail .t-card-reply-comment .t-textarea-comment {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    outline-color: rgba(0, 0, 0, .125);
    border-radius: 15px;
    padding-left: 10px;
}

.t-post-detail .t-card-send-comment .t-textarea-comment {
    width: 100%;
    height: 100%;
    background: #efefef;
    border: none;
    outline-color: #efefef;
}

.t-post-detail .t-card-send-comment .card-body {
    padding: 5px;
}

.t-post-detail .t-card-send-comment .t-textarea-comment:hover {
    background: #ffffff;
    border: none;
}

.t-post-detail .t-card-send-comment {
    background: #efefef;
}

.t-post-detail .t-card-reply-comment:hover .t-textarea-comment,
.t-post-detail .t-card-send-comment:hover .t-textarea-comment,
.t-post-detail .t-card-send-comment:hover .card-footer {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.t-card-reply-comment .t-input-send-comment {
    border-radius: 20px;
    font-size: 12px;
    color: #181612;
}

.t-card-send-comment .t-input-send-comment {
    background: #e3e3e3;
    border-radius: 20px;
    font-size: 12px;
}

.t-card-reply-comment .t-btn-send-comment {
    background: #e3e3e3;
    border-radius: 20px;
    font-size: 12px;
    color: #181612;
}

.t-card-send-comment .t-btn-send-comment {
    background: #c6c8cb;
    border-radius: 20px;
    font-size: 12px;
    color: #181612;
}

.t-card-reply-comment .t-btn-send-comment:hover,
.t-card-send-comment .t-btn-send-comment:hover {
    background: #f58120;
    color: #fff;
    border: #f58120;
}

.t-post-detail .line {
    border-bottom: 1px solid #dfdfdf;
    display: block;
}

.t-bao-tinlienquan-chitiettin .line-dotted {
    background: url('/client/image/ss.jpg') no-repeat;
    display: block;
    height: 9px;
}

.t-bao-tinlienquan-chitiettin .title {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
}

.t-bao-tinlienquan-chitiettin .title .line {
    display: block;
    height: 4px;
    width: 70%;
    background-color: #f58120;
}

.card-tinlienquan-chitiettin .card-title h5 {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-tinlienquan-chitiettin .card-cover-img,
.card-tinlienquan-chitiettin img {
    height: 100%;
}

.card-tinlienquan-chitiettin {
    background: #efefef;
    border: none;
}

.card-tinlienquan-chitiettin:hover {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.card-tinlienquan-chitiettin .card-title {
    color: #000000;
}

.card-tinlienquan-chitiettin .card-title:hover {
    color: #f58120;
}

.t-list-event-extend .list-group-item {
    background: #efefef;
}

.t-home-instruction .title {
    padding-left: 65px;
    margin-bottom: 10px;
}


/* .t-home-instruction .title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-right: 0.2em solid #6c757d;
    border-top: 0.2em solid #6c757d;
    transform: rotate(45deg);
    right: 18px;
    top: 50%;
} */

.icon-checked-1 {
    width: 61px;
    height: 61px;
    display: inline-block;
    background-position-x: -1px;
    background-position-y: -101px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.icon-dollar {
    width: 61px;
    height: 61px;
    display: inline-block;
    background-position-x: -74px;
    background-position-y: -101px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.icon-ticked-1 {
    width: 61px;
    height: 61px;
    display: inline-block;
    background-position-x: -145px;
    background-position-y: -101px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.t-home-instruction .t-title-instruction {
    color: #f58120;
    font-weight: 700;
    font-size: 14px;
}

.t-home-instruction .text-muted {
    font-weight: 300;
    font-size: 13px;
}

.t-home-instruction .bao-content {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.t-home-instruction .bao-content .col-12 {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.icon-chevron-right {
    width: 41px;
    height: 55px;
    display: inline-block;
    background-position-x: -211px;
    background-position-y: -103px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
}

.t-bao-nav-thongtinsukien {
    border-top: 3px solid #efefef;
}

.card-share-event .list-group-item {
    padding: .375rem 0.75rem;
}

.logo-tablet {
    display: none;
}

.t-sub-menu-top1>.nav-item:hover .t-sub-menu-top2,
.t-sub-menu-top1>.nav-item:hover .dropdown-menu {
    display: block;
}

.t-sub-menu-top1>.nav-item .t-sub-menu-top2>.nav-item:hover {
    background: #f8f9fa;
}

.t-sub-menu-top1>.nav-item {
    position: relative;
}

.t-sub-menu-top2 {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.t-sub-menu-top2,
.dropdown-menu {
    top: 95%;
}

.t-card-category .t-card-img a {
    height: 100%;
}

.btn-submit-contact,
.btn-home-search {
    color: #fff;
    background-color: #f58120;
    border-color: #f58120;
}

.btn-submit-contact:hover,
.btn-home-search:hover {
    color: #fff;
    background-color: #ff3600;
    border-color: #ff3600;
}

.t-contact .main-title {
    font-size: 26px;
    font-weight: bold;
}

.t-contact {
    font-family: "Roboto", sans-serif;
}

.t-contact .t-text-contact {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    padding-left: 40px;
    line-height: 30px;
}

.icon-home-ct {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -357px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.icon-phone-ct {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -407px;
    background-position-y: -2px;
    vertical-align: middle;
    margin-right: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.icon-email-ct {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -407px;
    background-position-y: -43px;
    vertical-align: middle;
    margin-right: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.icon-www-ct {
    width: 35px;
    height: 34px;
    display: inline-block;
    background-position-x: -452px;
    background-position-y: -1px;
    vertical-align: middle;
    margin-right: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.btn-scroll-to-top {
    display: none;
    font-size: 35px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
}

.btn-scroll-to-top:hover {
    color: #f58120;
}

.btn-scroll-to-top:first-of-type {
    box-shadow: none;
}

.t-fix-top {
    position: fixed;
    top: 20px;
    z-index: 99;
    width: 348px;
}

.bgr-e1e1e1 {
    background: #e1e1e1;
}

.dataTables_wrapper {
    overflow: auto;
    padding-bottom: 15px;
}

.t-dashboard .main-title {
    font-size: 20px;
}

.t-modal-file-manager .modal-lg {
    max-width: 850px !important;
}

.t-modal-file-manager .modal-body {
    padding: 0 !important;
}

.style_icon_remove,
.style_icon_remove_image {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    cursor: pointer;
}

.t-card-list-comment .card-header {
    font-weight: bold;
}

.t-card-list-comment .t-item-comment .item-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.t-chitiet-sukien .guinhanxet .title {
    font-size: 20px;
    color: #2e4050;
    padding-top: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.t-chitiet-sukien .text-dieukhoan {
    font-size: 12px;
    color: #2e4050;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.t-chitiet-sukien .tieuchi {
    color: #0083f0;
}

.t-chitiet-sukien .dieukhoan p {
    font-size: 14px;
    color: #2e4050;
}

.t-chitiet-sukien .guinhanxet {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.t-chitiet-sukien .t-fa-star {
    color: #ccc;
    font-size: 20px;
}

.t-chitiet-sukien .btn-guinhanxet {
    background: #f58120;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
}

.t-contact iframe {
    width: 100% !important;
}

.t-top .logo {
    height: 70px;
    width: 181px;
}

.t-bottom .logo-bot {
    height: 105px;
    width: 274px;
}