.t-change-info {
    cursor: pointer;
}

.style_icon_remove,
.style_icon_remove_image {
    position: absolute;
    top: -9px;
    right: -9px;
    color: red;
    box-shadow: 0px 0px 7px 3px #ccc;
    cursor: pointer;
}